AddDefaultCharset UTF-8

Options +FollowSymLinks
RewriteEngine On

Redirect 301 /route/about/ /route
Redirect 301 /route/contacts/ /route
Redirect 301 /route/catalog/ /route
Redirect 301 /route/news/ /route